always-auth=true
# add github as package registry
registry=https://npm.pkg.github.com/cpbtechnology
_authToken=a5a51327ba8451fddb3993aaf05dcd76fcc108b2
# this auth token is for github user coop-machine-user
//npm.pkg.github.com:_authToken=8c36ebe64e91c08e073be14d8a5a56d5c666d3b3
